.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 确保导航栏在其他内容之上 */
    background-color: #fff; /* 设置导航栏背景颜色，避免透明时内容透出 */
    display: flex; /* 使用Flex布局 */
    justify-content: space-around; /* 均匀分布导航项 */
    align-items: center; /* 垂直居中对齐导航项 */
  }
  
  .navbar-container ul {
    list-style: none; /* 移除列表默认样式 */
    padding: 0;
    margin: 0;
    display: flex; /* 使用Flex布局 */
  }
  
  .navbar-container li {
    margin: 0 10px; /* 设置导航项之间的间距 */
  }
  